global
  log stdout format raw local0 info

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global

listen stats
  bind :9000
  mode http
  stats enable
  stats realm Haproxy\ Statistics
  stats uri /haproxy_stats  

frontend myfrontend
  bind :80
  default_backend webservers

backend webservers
  server s1 hello1:8080 check
  server s2 hello2:8080 check
  server s3 hello3:8080 check